@model BookingViewModel
<div class="card mb-3">
    <div class="card-header d-flex justify-content-between align-items-center" id="headingOne_@Model.MerchantTradeNo" style="background-color: #f8f9fa;">
        <h5 class="mb-0">
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne_@Model.MerchantTradeNo" aria-expanded="false" aria-controls="collapseOne_@Model.MerchantTradeNo" style="text-decoration: none; color: white;">
                訂單編號: @Model.MerchantTradeNo
            </button>
        </h5>
        <i class="fas fa-chevron-down"></i>
    </div>

    <div id="collapseOne_@Model.MerchantTradeNo" class="collapse" aria-labelledby="headingOne_@Model.MerchantTradeNo" data-bs-parent="#accordionExample">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <p><i class="far fa-calendar-alt me-2"></i><strong>訂單日期:</strong> @Model.BookingDate.ToString("yyyy/MM/dd HH:mm")</p>
                    <p><i class="fas fa-film me-2"></i><strong>電影:</strong> @Model.MovieTitle</p>
                    <p><i class="fas fa-building me-2"></i><strong>影城:</strong> @Model.TheaterName</p>
                    <p><i class="fas fa-door-open me-2"></i><strong>影廳:</strong> @Model.AuditoriumName</p>
                    <p><i class="far fa-clock me-2"></i><strong>放映時間:</strong> @Model.ShowTime.ToString("yyyy/MM/dd HH:mm")</p>
                    <p><i class="fas fa-chair me-2"></i><strong>座位:</strong> @string.Join(", ", Model.SeatDetails)</p>
                </div>
                <div class="col-md-6">
                    <p><i class="fas fa-ticket-alt me-2"></i><strong>票種:</strong> @string.Join(", ", Model.TicketTypes)</p>
                    @if (Model.Snacks.Any())
                    {
                        <p><i class="fas fa-utensils me-2"></i><strong>小吃:</strong> @string.Join(", ", Model.Snacks)</p>
                    }
                    <p><i class="fas fa-dollar-sign me-2"></i><strong>總金額:</strong> NT$ @Model.TotalAmount</p>
                    <p><i class="fas fa-credit-card me-2"></i><strong>付款方式:</strong> @Model.PaymentTypes</p>
                    <p><i class="fas fa-info-circle me-2"></i><strong>訂單狀態:</strong> @Model.BookingStatus</p>
                    <!-- Barcode Image -->
                    <p><i class="fas fa-barcode me-2"></i><strong>訂單條碼:</strong></p>
                    <img src="@Url.Action("GetUserBarcode", "MemberCenter", new { merchantTradeNo = Model.MerchantTradeNo })" alt="訂單條碼" class="barcode-image img-fluid mb-2" />

                </div>
            </div>
        </div>
    </div>
</div>
